{% extends 'base.html.twig' %}

{% block body %}
  <h1>Création d'un Article </h1>
   <form action="" method="post">
      <input type="text" name="text" placeholder="title">
      <textarea type="text" name="text" placeholder="title">
   </form>
{% endblock %}