{% extends 'base.html.twig' %}

{% block title %}hi BlogController!{% endblock %}

{% block body %}
  <section class="articles">
     <article>
        <h2>Titre de l'article </h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
           <img src="http://placehold.it/350x150" alt="">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit dictum vestibulum. Proin accumsan dignissim purus, a porta nibh varius id. 
            Aenean a metus non dui condimentum volutpat. Cras auctor posuere velit, quis auctor ex condimentum id. Curabitur sodales vestibulum lacus eu venenatis. 
            Nunc gravida nec ipsum eu luctus. Vestibulum id nulla eu ligula hendrerit euismod eget vel neque. Sed dignissim efficitur ante non consectetur. 
            Ut consectetur aliquam dui sed fermentum.</p>
            <p>Curabitur non nibh et velit hendrerit vestibulum in eu nisi. Nulla orci ex, viverra non pharetra id, scelerisque in diam. Pellentesque cursus rutrum vulputate. 
            Quisque consectetur vehicula tristique. Ut luctus dolor vitae malesuada tempus. Quisque eleifend nisl at ligula consectetur faucibus. Nam in dui quam. 
            Vestibulum scelerisque dignissim orci vitae mattis. In sed placerat erat. Etiam dictum nibh quis erat lacinia, a efficitur lectus cursus.</p>
            <a href=""
        </div>
     </article>
      <article>
        <h2>Titre de l'article </h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
           <img src="http://placehold.it/350x150" alt="">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit dictum vestibulum. Proin accumsan dignissim purus, a porta nibh varius id. 
            Aenean a metus non dui condimentum volutpat. Cras auctor posuere velit, quis auctor ex condimentum id. Curabitur sodales vestibulum lacus eu venenatis. 
            Nunc gravida nec ipsum eu luctus. Vestibulum id nulla eu ligula hendrerit euismod eget vel neque. Sed dignissim efficitur ante non consectetur. 
            Ut consectetur aliquam dui sed fermentum.</p>
            <p>Curabitur non nibh et velit hendrerit vestibulum in eu nisi. Nulla orci ex, viverra non pharetra id, scelerisque in diam. Pellentesque cursus rutrum vulputate. 
            Quisque consectetur vehicula tristique. Ut luctus dolor vitae malesuada tempus. Quisque eleifend nisl at ligula consectetur faucibus. Nam in dui quam. 
            Vestibulum scelerisque dignissim orci vitae mattis. In sed placerat erat. Etiam dictum nibh quis erat lacinia, a efficitur lectus cursus.</p>
        </div>
     </article>
      <article>
        <h2>Titre de l'article </h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
           <img src="http://placehold.it/350x150" alt="">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit dictum vestibulum. Proin accumsan dignissim purus, a porta nibh varius id. 
            Aenean a metus non dui condimentum volutpat. Cras auctor posuere velit, quis auctor ex condimentum id. Curabitur sodales vestibulum lacus eu venenatis. 
            Nunc gravida nec ipsum eu luctus. Vestibulum id nulla eu ligula hendrerit euismod eget vel neque. Sed dignissim efficitur ante non consectetur. 
            Ut consectetur aliquam dui sed fermentum.</p>
            <p>Curabitur non nibh et velit hendrerit vestibulum in eu nisi. Nulla orci ex, viverra non pharetra id, scelerisque in diam. Pellentesque cursus rutrum vulputate. 
            Quisque consectetur vehicula tristique. Ut luctus dolor vitae malesuada tempus. Quisque eleifend nisl at ligula consectetur faucibus. Nam in dui quam. 
            Vestibulum scelerisque dignissim orci vitae mattis. In sed placerat erat. Etiam dictum nibh quis erat lacinia, a efficitur lectus cursus.</p>
        </div>
     </article>
  </section>   
{% endblock %}
