{% extends 'base.html.twig' %}

{% block title %}hi BlogController!{% endblock %}

{% block body %}
  <section class="articles">
     <article>
        <h2>Titre de l'article </h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
           <img src="" alt="">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit dictum vestibulum. Proin accumsan dignissim purus, a porta nibh varius id. 
            Aenean a metus non dui condimentum volutpat. Cras auctor posuere velit, quis auctor ex condimentum id. Curabitur sodales vestibulum lacus eu venenatis. 
            Nunc gravida nec ipsum eu luctus. Vestibulum id nulla eu ligula hendrerit euismod eget vel neque. Sed dignissim efficitur ante non consectetur. 
            Ut consectetur aliquam dui sed fermentum.</p>
            
        </div>
     </article>
  </section>   
{% endblock %}
