{% extends 'base.html.twig' %}

{% block title %}hi BlogController!{% endblock %}

{% block body %}
  <section class="articles">
  {% for article in articles %}
            <article>
                <h2>{{ article.title }}</h2>
                <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
                <div class="content">
                <img src="http://placehold.it/350x150" alt="">
                 {{ article.content }}
                    <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>

                </div>
            </article>
      
      {% endfor %}
  </section>   
{% endblock %}
