{% extends 'base.html.twig' %}

{% block title %}hi BlogController!{% endblock %}

{% block body %}
  <section class="articles">
     <article>
        <h2>Titre de l'article </h2>
        <div 
     </article>
  </section>   
{% endblock %}
