{% extends 'base.html.twig' %}

{% block title %}hi BlogController!{% endblock %}

{% block body %}
  <section class="articles">
     <article>
        <h2>Titre de l'article </h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
           <img src="" 
        </div>
     </article>
  </section>   
{% endblock %}
