{% extends 'base.html.twig' %}

{% block body %}

<article>
        <h2>Titre de l'article </h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
           <img src="http://placehold.it/350x150" alt="">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit dictum vestibulum. Proin accumsan dignissim purus, a porta nibh varius id. 
            Aenean a metus non dui condimentum volutpat. Cras auctor posuere velit, quis auctor ex condimentum id. Curabitur sodales vestibulum lacus eu venenatis. 
            Nunc gravida nec ipsum eu luctus. Vestibulum id nulla eu ligula hendrerit euismod eget vel neque. Sed dignissim efficitur ante non consectetur. 
            Ut consectetur aliquam dui sed fermentum.</p>
            <p>Curabitur non nibh et velit hendrerit vestibulum in eu nisi. Nulla orci ex, viverra non pharetra id, scelerisque in diam. Pellentesque cursus rutrum vulputate. 
            Quisque consectetur vehicula tristique. Ut luctus dolor vitae malesuada tempus. Quisque eleifend nisl at ligula consectetur faucibus. Nam in dui quam. 
            Vestibulum scelerisque dignissim orci vitae mattis. In sed placerat erat. Etiam dictum nibh quis erat lacinia, a efficitur lectus cursus.</p>
        </div>
        <hr>
        <p>Donec vel erat ac augue vehicula rhoncus. Vivamus eleifend ante quis vulputate feugiat. Integer sit amet risus suscipit, luctus lacus ac, ultrices erat. Aenean eget ornare tellus. Fusce non turpis ac nisl euismod laoreet ut ut ex. Phasellus in erat tincidunt, pellentesque turpis nec, dignissim urna. Donec elementum id metus congue ornare. Morbi accumsan est consequat orci vestibulum, vel commodo lectus tempor. In et mauris commodo, laoreet lacus vel, egestas sem. Aenean viverra sapien at augue tempor, at eleifend urna tristique. Ut egestas felis ex, convallis aliquet metus mollis quis. Donec mollis, nunc sed placerat tempor, nulla ante mollis est, eget aliquam sem nisi at enim. Pellentesque porttitor est eu nulla tempus, imperdiet ultricies ante ullamcorper. Vestibulum dapibus odio enim, vel sagittis tortor interdum in. Pellentesque pellentesque nulla at lorem finibus faucibus.</p>
     </article>

{% endblock %}