{% extends 'base.html.twig' %}

{% block body %}

<article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie Politique</div>
        <div class="content">
            <img src="{{ article.image }}" alt="">
           
        <hr>
        <p>Donec vel erat ac augue vehicula rhoncus. Vivamus eleifend ante quis vulputate feugiat. Integer sit amet risus suscipit, luctus lacus ac, ultrices erat. 
        Aenean eget ornare tellus. Fusce non turpis ac nisl euismod laoreet ut ut ex. Phasellus in erat tincidunt, pellentesque turpis nec, dignissim urna. 
        Donec elementum id metus congue ornare. Morbi accumsan est consequat orci vestibulum, vel commodo lectus tempor. In et mauris commodo, laoreet lacus vel, egestas sem. 
        Aenean viverra sapien at augue tempor, at eleifend urna tristique. Ut egestas felis ex, convallis aliquet metus mollis quis. Donec mollis, nunc sed placerat tempor, 
        nulla ante mollis est, eget aliquam sem nisi at enim. Pellentesque porttitor est eu nulla tempus, imperdiet ultricies ante ullamcorper. Vestibulum dapibus odio enim, 
        vel sagittis tortor interdum in. Pellentesque pellentesque nulla at lorem finibus faucibus.</p>
        <p>Donec vel erat ac augue vehicula rhoncus. Vivamus eleifend ante quis vulputate feugiat. Integer sit amet risus suscipit, luctus lacus ac, ultrices erat. 
        Aenean eget ornare tellus. Fusce non turpis ac nisl euismod laoreet ut ut ex. Phasellus in erat tincidunt, pellentesque turpis nec, dignissim urna. 
        Donec elementum id metus congue ornare. Morbi accumsan est consequat orci vestibulum, vel commodo lectus tempor. In et mauris commodo, laoreet lacus vel, egestas sem. 
        Aenean viverra sapien at augue tempor, at eleifend urna tristique. Ut egestas felis ex, convallis aliquet metus mollis quis. Donec mollis, nunc sed placerat tempor, 
        nulla ante mollis est, eget aliquam sem nisi at enim. Pellentesque porttitor est eu nulla tempus, imperdiet ultricies ante ullamcorper. Vestibulum dapibus odio enim, 
        vel sagittis tortor interdum in. Pellentesque pellentesque nulla at lorem finibus faucibus.</p>
     </article>

{% endblock %}