{% extends 'base.html.twig' %}

{# {% form_theme form 'bootstrap_5_layout.html.twig' %} #}

{% block body %}
  <h1>L'Article {{ article.title }} est supprimé avec success !!</h1>
     
   {# {{ form(formArticle) }} #}
{% endblock %}